.emailRow {
  display: flex;
  align-items: center;
  height: 50px;
  border-bottom: 1px solid whitesmoke;
  cursor: pointer;
  z-index: 999;
}

.emailRow:hover {
  border-top: 1px solid whitesmoke;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.24);
}

.emailRow__options {
  display: flex;
}

.emailRow__message {
  display: flex;
  flex: 0.8;
  justify-content: flex-end;
  align-items: center;
  margin: 0 20px;
  font-size: 13px;
}

.emailRow__message > h4 {
  width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 5px;
  padding-right: 5px;
}

.emailRow__title {
  font-size: 13px;
  flex: 0.3;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.emailRow__time {
  padding-right: 15px;
  font-size: 11px;
  color: gray;
  font-weight: 400;
}

.emailRow__description {
  font-weight: 400;
  color: gray;
}

@media screen and (max-width: 650px) {
  .emailRow__title.smallScreenTitle {
    display: none;
  }

  .emailRow__time {
    padding-right: 8px;
    font-size: 10px;
  }

  .emailRow__options > .smallScreenX {
    display: none;
  }

  .emailRow__options {
    margin-right: -20px;
  }
}
